*, html, body{
    margin: 0;
    padding: 0;
}

.container {
    width: 1024px;
    margin: 0 auto;
    border: 1px solid #000;
}

header {
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #ff000f;
}

.B {
    text-align: center;
    width: 50%;
    height: 100px;
    background-color: #0f0;
    float: left;
    
}

.C {
    text-align: center;
    width: 50%;
    height: 100px;
    background-color: purple;
    float: right;
}

.D {
    text-align: center;
    width: 33.3%;
    height: 100px;
    background-color: palevioletred;
    float: left;
}

.E {
    text-align: center;
    width: 33.3%;
    height: 100px;
    background-color: blue;
    float: left;
    
}

.F {
    text-align: center;
    width: 33.3%;
    height: 100px;
    background-color: indigo;
    float: right;
}

.G {
    text-align: center;
    width: 25%;
    height: 100px;
    background-color: blueviolet;
    float: left;
}

.H {
    text-align: center;
    width: 25%;
    height: 100px;
    background-color: gray;
    float: left;

}

.I {
    text-align: center;
    width: 25%;
    height: 100px;
    background-color: peru;
    float: left;

}

.J {
    text-align: center;
    width: 25%;
    height: 100px;
    background-color: firebrick;
    float: left;


}

.K {
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: olivedrab;
    float: left;
}