* {
    margin: 0; /*membuat jarak antara objek*/
    padding: 0; /*membuat jarak antar isi*/
    font-family: 'Cambria',sans-serif; /*merubah jenis font atau text*/
}

.bg {
    background-image: url('background.jpg.jpg'); /*memasang sebuah gambar background*/
    background-size: cover; /*agar background menyesuaikan ukuran device*/
}

.photo {
    width: 150px; /*lebar foto sebesar 150px*/
    height: 150px; /*panjang foto sebesar 150px*/
    border-radius: 50px; /*untuk membuat foto menjadi bulat sempurna*/
    border: 5px solid #fff /*untuk membuat garis luar*/
}

.title {
    color: #fff; /*merubah warna jadul atau text*/
    margin: 10px auto; /*membuat jarak antara objek*/
    text-align: center; /*memindahkan text agar pidah ke tengah*/
}

.centerboox {
    width: 500px; /*lebar foto sebesar 500px*/
    border: 1px solid #fff; /*membuat jaris luar*/
    margin: 0 auto; /*membuat jarak antar objek*/
    padding: 15px; /*membuat jarak antar isi*/
    background-color:rgba(0, 0,  0, 0.5); /*mengubah warna agar menjadi transparan*/
    color: #fff; /*merubah warna*/
    text-align: center; /*memindahkan text agar pindah ke tengah*/
}

.content {
    text-align: center; /*memindahkan text agar pindah ke tengah*/
}